html {
  position: relative;
  min-height: 100%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  color: #383e47;
  width: 100%;
  margin: 0; }

a {
  color: inherit;
  text-decoration: none; }
  a:link {
    text-decoration: none; }
  a:hover {
    color: #FAA61A; }

h1 {
  font-size: 4em;
  line-height: 1em;
  font-weight: 900;
  color: #ffffff; }

h2 {
  font-size: 2em;
  line-height: 1.5em;
  font-weight: bold;
  color: #ffffff; }

h3 {
  font-size: 1.8em;
  line-height: 2.2em;
  font-weight: normal; }

p {
  font-size: 1.5em;
  line-height: 1.7em;
  font-weight: 300;
  color: #fff;
  margin-top: 5px;
  margin-bottom: 5px; }

/* ======== HEADER ======== */
.logo {
  position: fixed;
  float: left;
  margin: 15px 0px 0px 15px;
  z-index: 1000000; }

.social-icons {
  position: fixed;
  padding-top: 10px;
  z-index: 1000; }

.fa-twitter,
.fa-facebook {
  background-color: rgba(187, 189, 192, 0.5);
  padding: 5px;
  color: #ffffff;
  float: right;
  margin: 5px 10px 0px 0px;
  cursor: pointer; }
  .fa-twitter:hover,
  .fa-facebook:hover {
    color: #FAA61A; }

/* ======== Footer ======== */
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 170px;
  background: #1c2124 none repeat scroll 0 0;
  text-align: left;
  font-size: 14px;
  padding: 0;
  display: block; }

#footer-wraper {
  padding-top: 20px;
  margin-left: 5%;
  margin-left: 5%; }

.links li {
  color: #fff;
  font-size: 0.7em; }
  @media (max-width: 768px) {
    .links li {
      display: none; } }

.copyright {
  float: left;
  font-size: 0.7em;
  color: #fff; }
  @media (max-width: 768px) {
    .copyright {
      font-size: 0.5em; } }
  .copyright p {
    padding-bottom: 0px; }

.copying-info {
  padding-top: 20px;
  font-size: 0.7em;
  line-height: 15px;
  color: #888c91; }
  @media (max-width: 768px) {
    .copying-info {
      padding-top: 10px;
      font-size: 0.5em; } }
  @media (max-width: 480px) {
    .copying-info {
      padding-top: 10px; } }

.support-site:link,
.support-site:visited {
  color: #FAA61A; }

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff; }

.main-container {
  margin-top: 7%;
  margin-left: 3.5%;
  position: absolute;
  display: block;
  z-index: 100000; }
  @media (max-width: 480px) {
    .main-container {
      margin-top: 15%; } }

@media (max-width: 480px) {
  .map-locator {
    margin-top: 10em; } }

.text {
  padding: 5px;
  margin-top: 170%;
  margin-bottom: 3em; }

.photo-container {
  background: rgba(188, 188, 188, 0.5);
  padding: 15px;
  margin-top: 70%; }

#webgl {
  /* sky-like */
  position: fixed;
  height: 1500px;
  background: linear-gradient(to bottom, #b3cae5 1%, #D1DFEF 5%, #dbdde4 12%, #e4e3e4 100%); }

/* label */
.label {
  font-size: 10px;
  line-height: 1.5em;
  font-weight: 400;
  color: #ffffff;
  padding: 5px;
  position: absolute;
  pointer-events: none; }

.highlighted-text {
  font-size: 11px;
  font-weight: bold;
  background-color: rgba(188, 188, 188, 0.75);
  letter-spacing: 1px; }

.print-label {
  /* these 2 properties are copied to canvas 2D context in renderLabels function of Qgis2threejs.js */
  color: black;
  font: normal medium sans-serif; }

.intro {
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 300;
  color: #ffffff; }

.center {
  text-align: center; }

.annotation {
  margin-top: 5px;
  text-align: center; }

.credits {
  font-size: 1.2em;
  line-height: 1.5em;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 3em; }
  .credits span {
    font-weight: bold; }
  .credits.date {
    margin-top: 1em;
    font-size: 1.1em;
    font-weight: 300; }

.read-more {
  margin-bottom: 15px; }

/* Clouds */
#viewport {
  -webkit-perspective: 500;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 1000000; }

#view {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -400px;
  margin-top: -400px;
  height: 800px;
  width: 800px;
  -webkit-transform-style: preserve-3d;
  z-index: 1000000; }

.cloud {
  opacity: 0;
  position: absolute;
  left: 400px;
  top: 400px;
  width: 2px;
  height: 2px;
  margin-left: -1px;
  margin-top: -1px;
  -webkit-transform-style: preserve-3d;
  z-index: 1000000; }

.layer {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 400px;
  height: 400px;
  margin-left: -200px;
  margin-top: -200px;
  z-index: 1000000; }

/*# sourceMappingURL=application.css.map */
