// ==============
// Global imports
// ==============
@import "base/variables";
@import "base/mixins";
@import "base/base";
@import "components/header";
@import "components/footer";


body {
  margin: 0;
  font-family:'Open Sans', sans-serif;
}



.main-container {
  margin-top: 7%;
  margin-left: 1.5%;
  position: absolute;
  display: block;
  z-index: 100000;
  @media #{$brk-spnarrow} {
      margin-top: 15%;
    }
}

.map-locator {
  @media #{$brk-spnarrow} {
    margin-top:10em;
  }
}

.text {
  padding: 5px;
  margin-left: 3%;
  margin-top: 150%;
  margin-bottom: 15em;
}


.photo {
    background: rgba(255,255,255, 0.7);
    padding: 5px;
    margin-right: 5%;
}

.caption {
  color: #000;
  font-style: italic;
}

#webgl {
  /* sky-like */
  position: fixed;
  height:1500px;
  background: linear-gradient(to bottom, #b3cae5 1%, #D1DFEF 3%,  #dbdde4 7%, #e4e3e4 100%);
}


/* label */
.label {
  @include text(10px, 1.5em, 400, #ffffff);
  padding: 5px;
  position: absolute;
  pointer-events: none;
}

.highlighted-text {
  font-size: 11px;
  background-color: rgba(247, 87, 87, 0.65);
  letter-spacing: 1px;
}

.print-label {
  /* these 2 properties are copied to canvas 2D context in renderLabels function of Qgis2threejs.js */
  color: black;
  font: normal medium sans-serif;
}


.intro {
  @include text(1.5em, 1.5em, 300, #ffffff);
}

.center {
  text-align: center;
}

.annotation {
  float: right;
  margin-right: 10%;
  margin-bottom: 10px;
}

.credits {
  @include text(1.2em, 1.5em, 300, #ffffff);
  margin-bottom:3em;
  & span {
    font-weight: bold;
  }
  &.date {
    margin-top:1em;
    font-size:1.1em;
    font-weight:300;
  }
}

p  {
    &.expense-title {
        @include text(1.5em,1.5em);
        margin-left: 5px;
    }

    & span {
      background: rgba(242,239,153,0.5);
      padding: 1px;
    }
    & span.itallic {
      background: none;
      font-style: italic;
    }
}

.read-more {
  margin-bottom: 15px;
}


/* Clouds */
#viewport{
  -webkit-perspective:500;
  position:fixed;
  left:0;
  top:0;
  right:0;
  bottom:0;
  overflow:hidden;
  z-index: 1000000;
}

#view{
  position:absolute;
  left:50%;
  top:50%;
  margin-left:-400px;
  margin-top:-400px;
  height:800px;
  width:800px;
  -webkit-transform-style:preserve-3d;
  z-index: 1000000;
}

.cloud{
  opacity:0;
  position:absolute;
  left:400px;
  top:400px;
  width:2px;
  height:2px;
  margin-left:-1px;
  margin-top:-1px;
  -webkit-transform-style:preserve-3d;
  z-index: 1000000;
}

.layer{
  position:absolute;
  left:50%;
  top:50%;
  width:400px;
  height:400px;
  margin-left:-200px;
  margin-top:-200px;
  z-index: 1000000;
}
