
/* ======== Footer ======== */

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 170px;
    background: #1c2124 none repeat scroll 0 0;
    text-align: left;
    font-size: 14px;
    padding: 0;
    display: block;
}


#footer-wraper {
    padding-top:20px;
    margin-left: 5%;
    margin-left: 5%;
}

.links li {
    color:$white;
    font-size: $footer-size;

    @media #{$brk-narrow} {
      display:none;
    }
}

.copyright {
    float: left;
    font-size: $footer-size;
    color: $white;

    @media #{$brk-narrow} {
      font-size: $footer-size-media;
    }
    & p {
        padding-bottom:0px;
    }
}

.copying-info {
    padding-top: 20px;
    font-size: $footer-size;
    line-height: 15px;
    color: #888c91;

    @media #{$brk-narrow}{
      padding-top: 10px;
      font-size: $footer-size-media;
    }
    @media #{$brk-spnarrow} {
      padding-top: 10px;
    }
}
.support-site:link,
.support-site:visited {
    color:$orange;
}
