

//// colors

$main-text: #383e47;
$white:#fff;
$orange: #FAA61A;


/// fonts

$main-serif: Open Sans, sans-serif;
$footer-size: 0.7em;
$footer-size-media: 0.5em;


// Media query
$brk-xxlarge: '(max-width: 2560px)';
$brk-xlarge: '(max-width: 1920px)';
$brk-large: '(max-width: 1366px)';
$brk-medium: '(max-width: 1024px)';
$brk-narrow: '(max-width: 768px)';
$brk-spnarrow: '(max-width: 480px)';
